.header {
  text-align: center;
}
.line {
  margin-bottom: 40px;
}
.input {
  margin-bottom: 20px;
  margin-left: 30px;
}
.select {
  margin-left: 30px;
  margin-bottom: 10px;
}
.shoe {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
#submit {
  display: block;
  margin-top: 10px;
}
